body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',arial,helvetica,sans-serif;
}
.header{
  padding: 25px 11px 0 42px;
  display: flex;
  margin-bottom: 50px;
}
.logo{
  margin: -1px 260px 0 0;
  width: 166px;
  height: 51px;
  background:url('img/logo.svg') ;
  }
  .menu, .menu2 {
    display: flex;
    align-items: center;
  }
  .menu{
  margin-right: 221px;
  }
  .menu2{
    margin-right: 29px;
  }
  .menu__item:last-child{
	   margin-right: 0;
  }
    .menu__item{
      position: relative;
      margin-right: 1px;
      font-weight:600;
      font-size:15px;
      line-height:18px;
      color: #000;
      text-decoration: none;
    }
  .menu__item_active{
    margin: 0 63px 0 0;
    color: #E51937;
  }
  .menu__item_active::after{
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 100%;
    height: 3px;
    margin: 5px 0 0 0;
    background: #E51937;
  }
  .menu__item1{
   margin-right: 24px;
  }
   .menu__item2{
   margin-right: 45px;
   }
    .menu__item3{
   margin-right: 46px;
    }
     .menu__item4{
   margin-right: 222px;
     }
     .menu__item5{
       margin-right: 31px;
         width: 69px;
         height: 19px;
         font-weight:600;
         font-size:17px;
         line-height:18px;
         padding: 5px 0 0 0;
     }
     .menu__item6{
       margin-right: 30px;
         width: 50px;
         height: 19px;
         font-weight:600;
         font-size:16px;
         line-height:18px;
         padding: 5px 0 0 0;
     }
  #menu__toggle {
     opacity: 0;
}
  .menu__btn{
        display: flex;
       align-items: center;
       position: absolute;
       top: 41px;
       margin-right: 60px;
       width: 25px;
       height: 17px;
       cursor: pointer;
       z-index: 1;
     }
     .menu__btn > span,
     .menu__btn > span::before,
     .menu__btn > span::after {
         background-color: #E51937;
         display: block;
         position: absolute;
         height: 2.5px;
         width: 100%;
     }
     .menu__btn > span::before {
       content: '';
       top: -6px;
     }
     .menu__btn > span::after {
       content: '';
       top: 6px;
        height: 2.5px;
     }
     .main__first{
      background: url('img/logo+car.svg');
      background-position: center;
      height: 594px;
      width: 1400px;
      margin: -14px 0 0 20px;

     }
    .main__first_title{
      margin: 76px 2px 0 0;
      text-align: center;
      font-size: 90px;
      line-height:110px;
      font-weight:600;
    }
    .main__first_subtitle{
     text-align: center;
     font-weight:500;
     font-size:17px;
     line-height:18px;
     margin: -14px 0 0 0;
    }
  .main__first_bottom-block{
    text-align: center;
    display: flex;
	  justify-content: space-between;
	  margin: 520px 22% 0px 22%;
	  height: 60px;
  }
  .main__first_speed{
    margin: -7px 0px 0 -12px;
}
  .main__first_speed-text{
    background: no-repeat center left url('img/speed.svg');
    width: 150px;
    height: 50px;
    padding: 5px 0 0 18px;
  }
  .main__first_speed-text_h4{
    margin: 0 0 0 21px;
    padding: 0 0 0 5px;
    font-weight: 600;
    font-size:35px;
    line-height:24px;
  }
  .main__first_speed-text_h5{
    margin: 0 -14px 0 0;
    width: 37px;
    height: 25px;
    font-weight:600;
    font-size:22px;
    line-height:24px;
    padding: 0 3px 0 0;
  }
  .main__first_speed-text_p{
    margin: -20px 1px -5px 64px;
    font-weight:400;
    font-size:13px;
    line-height:15px;
    width: 77px;
    height: 15px;
  }
  .main__first_power-reserve{
      background: no-repeat center left url('img/road.svg');
      padding: 0 0 0 50px;
      margin: -16px 0px 0 35px;
  }
  .main__first_power-reserve_text{
    padding: 13px 30px 0 0;
  }
  .main__first_power-reserve_h4{
    padding: 0 4px 0 0;
    font-weight:600;
    font-size:35px;
    line-height:24px;
  }
  .main__first_power-reserve_h5{
      padding: 0 9px 0 0px;
      font-weight:600;
      font-size:24px;
      line-height:24px;
  }
  .main__first_power-reserve_p{
    font-weight:400 ;
    font-size: 12px;
    line-height:14px;
    margin: 3px 70px 0 0;
  }
  .main__first_test-drive{
    background: no-repeat url('img/testdrive.svg');
    width: 128px;
    height: 22px;
    margin: 5px 4px 0 30px;
  }
  .main__first_button{
    color: #E51937;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 160px;
    height: 40px;
    border: 2px solid #E51937;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    margin: -4px -7px 0 0;
    font-size:13px;
    line-height:15px;
     font-weight: bold;
  }
  .arrow{
    background: no-repeat url('img/arrow.svg');
    width: 35px;
    height: 20px;
    margin: 17px 48% 0 48.8%;
  }
  .main__second{
    margin: 225px 0 0px 0;
    background: no-repeat url('img/section2.svg');
    width: 1440px;
    height: 844px;
  }
  .main__second_red{
    width: 440px;
    height: 900px;
    margin: -213px 0 0 1000px;
    background: #E51937;
  }
  .main__second_title{
    width: 288px;
    height: 86px;
    font-weight:600;
    font-size: 70px;
    line-height:85px;
    color: #E51937;
    padding: 13px 0 0 80px;
  }
  .main__second_title-text{
    width: 316px;
    height: 37px;
    font-weight:600;
    font-size:33px;
    line-height:37px;
    color: #FFFFFF;
    padding: 53px 0 0 51px;
  }
  .main__second_p{
    width: 316px;
    height: 206px;
    font-weight:500;
    font-size:17px;
    line-height:19px;
    color: #FFFFFF;
    margin: -22px 72px 64px 52px;
  }
  .main__second_display{
    width: 36px;
    height: 53px;
    background: no-repeat url('img/section2display.svg');
    padding: 9px 0 0 55px;
    margin: 62px 0 0 52px;
  }
  .main__second_display_title{
    margin: -18px 0 0 0;
  }
  .main__second_display_title_h4{
    font-weight: 600;
    font-size:35px;
    line-height:43px;
    color: #FFFFFF;
    margin: 0 8px 0 0;
  }
  .main__second_display_title_h5{
    font-weight:600;
    font-size:20px;
    line-height:24px;
    color: #FFFFFF;
  }
  .main__second_display_text{
    font-size:13px;
    line-height:15px;
    color: #FFFFFF;
    margin: -4px 0 0 2px;
  }
  .main__second_wireless-soft{
    width: 44px;
    height: 34px;
    background: no-repeat url('img/wifi.svg');
    padding: 0 0 0 64px;
    margin: 42px 0 59px 48px;
}
  .main__second_wireless-soft_title{
    font-weight: 600;
    font-size:22px;
    line-height:18px;
    color: #FFFFFF;
    margin: -11px 0 0 0;
    display: inline-block;
    width: 175px;
    height: 36px;
  }
  .main__second_wireless-soft_text{
    font-size:13px;
    line-height:15px;
    color: #FFFFFF;
    margin: 0;
  }
  .main__second_bag-capacity{
    width: 36px;
    height: 52px;
    background: no-repeat url('img/bag.svg');
    padding: 1px 0 0 60px;
    margin: 1px 0 85px 52px;
  }
  .main__second_bag-capacity_title{
    margin: -10px 0 0 0;
  }
  .main__second_bag-capacity_title_h4{
    font-weight:600;
    font-size:35px;
    line-height:43px;
    color: #FFFFFF;
    margin: 0 7px 0 0;
  }
  .main__second_bag-capacity_title_h5{
    font-weight:600;
    font-size:21.5px;
    line-height:24px;
    color: #FFFFFF;
  }
  .main__second_bag-capacity_text{
    font-size: 14px;
    line-height:15px;
    color: #FFFFFF;
    margin: -2px 0 0 0;
  }
  .main__second_bottom-block{
    margin: 0px 0 0 49px;
  }
  .main__second_inf{
    width:165px;
    height:27px;
    display: inline-block;
    background: no-repeat url('img/moresection2.svg');
    margin: 100px 0 0 0;
  }
  .main__second_button{
    color: #FFF;
    position: absolute;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 160px;
    height: 40px;
    border: 2px solid #FFF;
    box-sizing: border-box;
    padding: 11px 0px 0px 0;
    margin: 91px 0 0px 22px;
    font-size:14px;
    line-height:15px;
     font-weight: bold;
  }
 .main__third{
  background: rgb(229,25,55);
  background: url('img/cargroup3.svg' ) no-repeat 88% 62%, url('img/models3.svg' ) no-repeat 100% 19%, linear-gradient(90deg, rgba(229,25,55,1) 30.5%, rgba(255,255,255,1) 30.6%, rgba(255,255,255,1) 31%);
  height: 900px;
  width: 1440px;
 }
 .main__third_car{
  margin: 0px auto;
 }
 .main__third_part1{
  padding: 0;
 }
 .main__third_part2{
   padding: 0;
 }
 .main__third_car_item1 ,
 .main__third_car_item2 ,
 .main__third_car_item3{
   font-weight: 600;
   font-size: 18px;
   line-height: 16px;
 }
 .main__third_car_item1{
   position: relative;
   top: 126px;
   left: 99.5px;
   background: url('img/line1.svg' ) no-repeat;
   width: 170px;
   height: 132px;
   padding: 0 0 0 15px;
 }
 .main__third_car_item2{
   position: relative;
   top: 40px;
   right: 180px;
   background: url('img/line2.svg' ) no-repeat;
   width: 175px;
   height: 290px;
    padding: 0px 0 0 20px;
 }
 .main__third_car_item3{
   position: relative;
   top: 118px;
   left: 155px;
   background: url('img/line3.svg' ) no-repeat;
   width: 233px;
   height: 52px;
   padding: 91px 0 0 15px;
 }
 .wrapper{
   display: flex;
   justify-content: space-between;
   padding: 50px 0px 0px 56px;
 }
 .main__third_title{
   font-weight: 600;
   font-size:32px;
   line-height:37px;
  color: #FFFFFF;
  width: 316px;
   margin: 0 0 17px 0;
 }
 .main__third_title-text{
   font-weight:500;
   font-size:17px;
   line-height:18.3px;
   color: #FFFFFF;
   margin: 0px 0 58px 0;
   width: 316px;
 }
 .main__third_title_star{
   font-weight:600;
   font-size:33px;
   line-height:37px;
   color: #FFFFFF;
   margin: 0 0 15px 0;
 }
 .main__third_list{
   border-spacing: 2px 11px;
   margin-bottom: 90px;
 }
 .text__item{
   font-size:18px;
   line-height:21px ;
   font-weight: bold;
   color: #FFFFFF;
   list-style: none;
   padding: 0 28px 0 0;

 }
 .star__item{
    background: url('img/star3.svg')  no-repeat ;
    width: 25px;
     height: 25px;
 }
 .text__item_p{
   font-size:10px;
   line-height:12px;
   margin: 0 0 0 6px;
 }
 .main__third_5star{
   background: url('img/img3.svg') no-repeat left;
   margin: 0 0 0 10px;
 }
 .main__third_5star_title{
   font-weight: 600;
   font-size:52px;
   line-height:50px;
    color: #FFFFFF;
    padding: 8px 0 0 86px;
    margin: 0 0 0 0;
    display: inline-block;
 }
 .main__third_5star_text{
   font-weight:600;
   font-size:27px;
   line-height:30px;
   color: #FFFFFF;
   margin: -3px 0 55px 85px;
 }
 .main__third_bottom-block{
   justify-content:space-around;
    display: flex;
   margin: 0px 0 0 0px;
 }
 .main__third_inf_img{
   margin: 0;
 }
 .main__third_inf{
   width:165px;
   height:27px;
   display: inline-block;
   background: no-repeat url('img/moresection2.svg');
   margin: 11px 0px 0px -20px;

 }
 .main__third_button_btn{
   margin: 3px 0 0 24px;
 }
 .main__third_button{
   color: #FFF;
   text-decoration: none;
   text-align: center;
   display: inline-block;
   width: 160px;
   height: 40px;
   border: 2px solid #FFF;
   box-sizing: border-box;
   padding: 10px 0 0 0;
   font-size:14px;
   line-height:15px;
    font-weight: bold;
 }

 @media(max-width: 769px) {
  .menu , .menu2{
      display: none;
  }
  .logo{
    margin: -1px 518px 0 -27px;
  }
  .menu__btn{
     top: 38px;
     width: 35px;
     height: 22px;
  }
  .main__first{
   background: url('img/logo+car-ipad.svg');
   width: 768px;
   height: 437px;
   margin: 176px 0 0 0px;
   padding: 1px 0 0 0;
 }
 .menu__btn > span::before {
   content: '';
   top: -9.5px;
 }
 .menu__btn > span::after {
   content: '';
   top: 9.5px;
    height: 3px;
 }
 .main__first_title{
  margin: -91px 0px 0 0px;
 }
 .main__first_subtitle{
   margin: -14px 0px 0 0;
 }
 .main__first_bottom-block{
   flex-wrap: wrap;
   margin: 455px 20% 0px 18%;
 }
 .main__first_speed{
  margin: 32px 20px -15px 0;
  height: 84px;
}
 .main__first_speed-text{
   background: no-repeat center left url('img/speedipad.svg');
   width: 66px;
   height: 50px;
   padding: 0px 0 25px 89px;
    margin: -30px 0px 0 0px;

 }
 .main__first_speed-text_h4{
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   font-size: 50px;
   line-height: 60px;
 }
 .main__first_speed-text_h5{
   position: absolute;
   margin: 0 0 0 0;
   padding: 18px 0px 0 0;
   width: 52px;
   height: 36px;
   font-size: 20px;
 }
 .main__first_speed-text_p{
   margin:-19px 0 0px 69px;
   font-size: 12px;
   width: 110px;
   height: 21px;
 }
 .main__first_power-reserve{
     background: no-repeat center left url('img/roadiconipad.svg');
     padding: 0 0 0 62px;
     margin: 0 35px 0 0;
     height: 84px;
 }
 .main__first_power-reserve_text{
   padding: 0 0 0 0;
 }
 .main__first_power-reserve_h4{
   padding: 0 0 0 0;
   font-size:50px;
   line-height:61px;
 }
 .main__first_power-reserve_h5{
     position: absolute;
     padding: 20px 0 0 10px;
     font-size: 20px;
 }
 .main__first_power-reserve_p{
     line-height: 17px;
     margin: -5px 30px 0 0;
 }
 .main__first_test-drive{
   background: no-repeat url('img/testdriveipad.svg');
   width: 162px;
   height: 30px;
   margin: 45px 0px 0 35px;
 }
 .main__first_button{
   color: #FFF;
   background: #E51937;
   width: 220px;
   height: 55px;
   padding: 15px 0 0 0;
   margin: 34px 21px 0 0;
   font-size: 16px;
   line-height: 20px;
 }
 .arrow{
   margin: 190px 48% 0 48%;
 }
 .main__second{
   margin: 370px 0 0 0;
   background: no-repeat url('img/section2ipad.svg');
   width: 768px;
   height: 990px;
 }
 .main__second_red{
   width: 768px;
   height: 487.21px;
   margin: 0px 0 0 0px;
   margin: 402px 0 0 0;
 }
 .main__second_parts{
   display: flex;
   justify-content: space-between;
 }
 .main__second_part1{
  margin: 25px 0 0 35px;
 }
 .main__second_part2{
 margin: 0px 210px 0 0;
 }
 .main__second_title{
   padding: 14px 0 0 433.5px;
 }
 .main__second_title-text{
   width: 316px;
   height: 37px;
   font-size: 32.5px;
   padding: 0px 0 0 0px;
 }
 .main__second_p{
   width: 300px;
   margin: -12px 0px 0px 0px;
 }
 .main__second_display{
 margin: 67px 0 0 52px;
 }
 .main__second_display_title_h5{
   font-size: 21px;
 }
 .main__second_wireless-soft{
 margin: 30px 0 59px 48px;
}
 .main__second_bag-capacity{
 margin: -7px 0 85px 52px;
 }
 .main__second_bottom-block{
   margin: 0px 0 0 154px;
 }
 .main__second_inf{
   width: 201px;
    height: 31px;
    background: no-repeat url('img/moresection2ipad.svg');
    margin: 9px 0 0 0;
 }
 .main__second_button{
   width: 220px;
   height: 55px;
   border: 3px solid #FFF;
   padding: 18px 0px 0px 0;
   margin: -4px 0 0px 38px;
   font-size:16px ;
   line-height:19px ;
 }
 .main__third{
   background: rgb(216,20,20);
  background: url('img/caripad3.svg' ) no-repeat 4% 18%, url('img/modelsipad3.svg' ) no-repeat 53% 7.5%, linear-gradient(0deg, rgba(216,20,20,1) 47.6%, rgba(255,255,255,1) 47.6%, rgba(248,243,244,1) 48%);
  height: 1024px;
  width: 768px;
 }
 .main__third_car_item1 ,
 .main__third_car_item2 ,
 .main__third_car_item3{
   font-size: 16px;
   line-height: 14px;
 }
 /*Защита от удара сбоку*/
 .main__third_car_item1{
   background: url('img/line1ipad.svg' ) no-repeat;
   width: 100px;
   height: 100px;
   padding: 0 0 0 13px;
   top: 46px;
   left: 100.5px;
 }
 /*Защита от удара спереди*/
 .main__third_car_item2{
   background: url('img/line2ipad.svg' ) no-repeat;
   width: 120px;
    height: 205px;
    padding: 0px 0 0 13px;
    top: -20px;
    right: 99.5px;
 }
 /*Минимальный риск перевернуться в аварии*/
 .main__third_car_item3{
   background: url('img/line3ipad.svg' ) no-repeat;
   width: 180px;
   padding: 50px 0 0 25px;
   top: 35px;
   left: 140px;
 }
 .wrapper{
   display: flex;
   flex-direction: column-reverse;
   justify-content: normal;
   padding: 33px 54px 57px 34px;
 }
 .main__third_text{
   margin: 160px 0 0 0;
 }
 .main__third_parts{
   display: flex;
   justify-content: space-between;
 }
 .main__third_part1{
   margin: 0 72px 0 0;
 }
 .main__third_title{
     width: 316px;
     height: 74px;
 }
 .main__third_title-text{
   line-height: 18px;
    width: 316px;
    height: 134px;
}
.main__third_part2{
  padding: 2px 0px 0 0px;
}
.main__third_list{
  margin: 0;
}
 .main__third_5star{
  display: none;
 }
 .main__third_bottom-block{
   margin: 19px 14.8% 0 17.5%;
   justify-content:space-between;
   display: flex;
 }
 .main__third_inf{
   width:201px;
   height:31px;
   background: no-repeat url('img/moresection2ipad.svg');
   margin: 0;
 }
 .main__third_inf_img{
   margin: 15px 0 0 0;
 }
 .main__third_button{
   width: 220.5px;
    height: 55px;
    border: 3.2px solid #FFF;
   padding: 18px 0 0 0;
   font-size:  17px ;
   line-height:  17px ;
    margin: 0;
 }
}
@media(max-width: 376px) {
  .header{
    margin: 0 0 110px 0;
    padding: 5px 0px 0 2px;

  }
  .logo{
    background:url('img/logofon.svg') ;
    width: 148px;
    height: 42px;
    margin: 0 180px 0 0;
  }
  .menu__btn{
       top: 18px;
       margin-right:0px;
       width: 24px;
       height: 15px;
       cursor: pointer;
       z-index: 1;
     }
     .menu__btn > span,
     .menu__btn > span::before,
     .menu__btn > span::after {
         height: 1.5px;
     }
     .menu__btn > span::before {
       content: '';
       top: -7px;
     }
     .menu__btn > span::after {
       content: '';
       top: 7px;
        height: 2px;
     }
     .main__first{
      background: url('img/teslafonavto.svg') no-repeat bottom ,  url('img/teslafontext.svg') no-repeat top ;
      width: 355px;
      height: 210px;
      margin: -3px 0 0 0;
      padding: 1px 0 0 20px;
    }
     .main__first_title{
       margin: -80px 0px 0 0;
       font-size:50px ;
       line-height:60px ;
       padding: 6px 21px 0 0;
     }
     .main__first_subtitle{
       font-size:11px ;
       line-height:12px ;
      margin: -4px 22px 0px 0;
     }
   .main__first_bottom-block{
 	  margin: 230px 9.5% 0px 10%;
 	  height: 60px;
   }
   .main__first_speed {
    margin: 32px 0 75px 0;
    height: 0;
}
.main__first_speed-text{
  background: no-repeat center left url('img/speedfon.svg');
  margin: -37px 0px 0 -13px;
}
.main__first_speed-text_h4 {
    display: inline-block;
    margin: 17px 0px 0 -99px;
    font-size: 27px;
    line-height:33px;
}
.main__first_speed-text_h5 {
    display:inline-block;
    width: 28px;
    height: 19px;
    font-size:15px ;
    line-height:18px;
    margin: 11px 0px 0 4px;
}
.main__first_speed-text_p {
  font-size:10px ;
  line-height:12px;
    width: 64px;
    height: 13px;
    margin: -27px 0 0 35px;
}
.main__first_power-reserve{
    background: no-repeat center left url('img/roadfon.svg');
    margin: -9px 40px 0 0px;
    padding: 0 0 0 0;
  }
  .main__first_power-reserve_text{
    padding: 0 0 0 19px;
    margin: 23px 5px 0 20px;
}
  .main__first_power-reserve_h4 {
    font-size: 27px;
    line-height:33px;
}
.main__first_power-reserve_h5 {
    padding: 10px 0 0 8px;
    font-size:15px;
    line-height:18px;
}
.main__first_power-reserve_p {
    margin: -3px -10px 0 30px;
    font-size:10px;
    line-height:12px;
}
  .main__first_test-drive{
    background: no-repeat url('img/testdrivefon.svg');
    margin: 0 0 0 -20px;
  }
  .main__first_button {
    width: 160px;
    height: 40px;
    font-size:13px;
    line-height:16px;
    padding: 10px 0px 0 0;
    margin: -9px 2px 0 -40px;
}
.arrow {
  background: no-repeat url('img/arrow.svg');
  margin: 110px 48% 0 42.5%;
}
.main__second{
  position: relative;
  background: no-repeat url('img/section2mobile.svg');
  margin: 200px 0 0px 0;
  padding: 10px 0 0 0;
  z-index: -1;
  width: 375px;
  height: 620px;
}
  .main__second_red{
    width: 375px;
    height: 304px;
    margin: 315px 0 0px 0;
  }
  .main__second_part1{
   margin: -8px 0 0 28px;
  }
  .main__second_part2{
    display: none;
  }
  .main__second_title{
    display: none;
  }
  .main__second_title-text{
    line-height:30px;
  }
  .main__second_p{
    line-height: 18.5px;
    margin: -27px 0px 0px 0px;
  }
  .main__second_bottom-block {
  display: none;
}
.wrapper {
    padding: 33px 54px 0px 32px;
}
  .main__third{
    width: 374px;
    height: 596px;
    background: rgb(216,20,20);
    background: url('img/cargroup3mobile.svg') no-repeat 4% 18%, url('img/models3mobile.svg') no-repeat 53% 9%, linear-gradient(0deg, rgba(216,20,20,1) 50.9%, rgba(255,255,255,1) 50.9%, rgba(248,243,244,1) 51%);
}
.main__third_car_item1 ,
.main__third_car_item2 ,
.main__third_car_item3{
  font-size: 8px;
  line-height: 6px;
}
/*Защита от удара сбоку*/
.main__third_car_item1{
  background: url('img/line1mobile.svg' ) no-repeat;
  padding: 2px 0 0 4.5px;
  width: 55px;
  height: 47px;
  top: 25px;
  left: 53px;
}
/*Защита от удара спереди*/
.main__third_car_item2{
  background: url('img/line2mobile.svg' ) no-repeat;
  padding: 2px 0 0 6px;
  width: 59px;
  height: 98px;
  top: -9px;
  right: 44px;
}
/*Минимальный риск перевернуться в аварии*/
.main__third_car_item3{
  background: url('img/line3mobile.svg' ) no-repeat;
  padding: 32px 0 0 5px;
    width: 84px;
    height: 44px;
    top: 20px;
    left: 72px;
}
.main__third_text {
    margin: 55px 0 0 0;
}
  .main__third_part1{
    margin: 0px 0px 0 0px;
  }
  .main__third_title{
    line-height: 36px;
    font: 600 32px/36px 'Montserrat',arial,helvetica,sans-serif;
    margin: 0 0 10px 0;

  }
  .main__third_title-text{
    font: 500 17px/18.5px 'Montserrat',arial,helvetica,sans-serif;
     margin: 0px;
 }
 .main__third_part2{
  display: none;
 }

  .main__third_bottom-block{
    display: none;
  }
}
